block header
    header.header
        .header__top
            .container
                .header__top-inner
                    .header__logo
                        if (indexPage)
                            .header-logo
                                img(src="/src/assets/logo.svg" alt="MEDINNOV" width="147" height="18")
                        else
                            a.header-logo(href="/" title="Главная")
                                img(src="/src/assets/logo.svg" alt="MEDINNOV" width="147" height="18")

                    .header__search
                        a.btn.header__catalog-btn(href="/catalog.html" title="Каталог")
                            +svgIcon('search-btn', "header__catalog-btn-icon d-block d-lg-none")
                            span.d-none.d-lg-block Каталог

                        include /components/header/header-search

                    .header__actions
                        .header__contacts
                            a.header__phone(href="tel:+79050868992" title="+7 (905) 086-89-92") +7 (905) 086-89-92

                        if !indexPage
                            a.header__action._user(href="#js-modal-auth" title="Кабинет")
                                svg(
                                    width="26"
                                    height="26"
                                    viewBox="0 0 26 26"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                )
                                    circle(
                                        cx="13"
                                        cy="13"
                                        r="11"
                                        fill="#6CB3EE"
                                    )
                                    path(
                                        d="M17.018 12.4466C17.4808 11.6875 17.7285 10.8138 17.7379 9.91146C17.7472 8.6224 17.2564 7.40017 16.3635 6.47396C15.466 5.54774 14.2787 5.03689 13.0165 5.02734C13.0072 5.02734 12.9978 5.02734 12.9885 5.02734C11.7216 5.02734 10.5343 5.52865 9.63676 6.44054C8.73456 7.3572 8.23438 8.57943 8.23438 9.88281C8.23438 10.7947 8.48213 11.6827 8.95427 12.4514C9.55729 13.4397 10.4642 14.151 11.5113 14.4996C11.5347 14.5043 11.5534 14.5139 11.5767 14.5187C11.8011 14.5903 12.0302 14.6428 12.2639 14.681C12.2732 14.681 12.2779 14.681 12.2873 14.6858C12.334 14.6905 12.3808 14.7001 12.4275 14.7049C12.4415 14.7049 12.4556 14.7096 12.4696 14.7096C12.5117 14.7144 12.5537 14.7192 12.5958 14.7192C12.6145 14.7192 12.6285 14.724 12.6472 14.724C12.6893 14.7287 12.7314 14.7287 12.7734 14.7287H12.8202C12.8763 14.7287 12.9324 14.7335 12.9885 14.7335C13.0446 14.7335 13.1007 14.7335 13.1568 14.7287H13.2035C13.2456 14.7287 13.2876 14.724 13.3297 14.724C13.3484 14.724 13.3624 14.7192 13.3811 14.7192C13.4232 14.7144 13.4653 14.7096 13.5027 14.7096C13.5167 14.7096 13.5307 14.7049 13.5447 14.7049C13.5915 14.7001 13.6382 14.6953 13.685 14.6858C13.6943 14.6858 13.699 14.6858 13.7084 14.681C13.9421 14.6428 14.1711 14.5903 14.3955 14.5187C14.4189 14.5139 14.4376 14.5043 14.461 14.4996C15.5081 14.1463 16.415 13.4349 17.018 12.4466Z"
                                        fill="white"
                                    )
                                    path(
                                        d="M5.01481 20.7454C4.96905 20.9323 5.03145 21.1329 5.17289 21.2423C7.46091 23.0473 10.1691 24 13.0021 24C15.8309 24 18.5391 23.0473 20.8271 21.2423C20.9686 21.1329 21.031 20.9323 20.9852 20.7454C20.7855 19.9432 20.486 19.1728 20.0949 18.4572C18.9842 16.4379 16.7378 15.5262 14.6245 16.2419C14.1003 16.4197 13.5554 16.5108 13.0021 16.5108C12.4488 16.5108 11.9038 16.4197 11.3797 16.2419C10.8971 16.0778 10.4062 16.0003 9.92365 16.0003C8.29708 16.0003 6.76618 16.8983 5.90922 18.4572C5.50985 19.1728 5.21033 19.9432 5.01481 20.7454Z"
                                        fill="white"
                                    )
                        else
                            a.header__action._user(href="#js-modal-auth" title="Войти" data-fancybox)
                                svg(
                                    width="26"
                                    height="26"
                                    viewBox="0 0 26 26"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                )
                                    circle(
                                        cx="13"
                                        cy="13"
                                        r="11"
                                        fill="#6CB3EE"
                                    )
                                    path(
                                        d="M17.018 12.4466C17.4808 11.6875 17.7285 10.8138 17.7379 9.91146C17.7472 8.6224 17.2564 7.40017 16.3635 6.47396C15.466 5.54774 14.2787 5.03689 13.0165 5.02734C13.0072 5.02734 12.9978 5.02734 12.9885 5.02734C11.7216 5.02734 10.5343 5.52865 9.63676 6.44054C8.73456 7.3572 8.23438 8.57943 8.23438 9.88281C8.23438 10.7947 8.48213 11.6827 8.95427 12.4514C9.55729 13.4397 10.4642 14.151 11.5113 14.4996C11.5347 14.5043 11.5534 14.5139 11.5767 14.5187C11.8011 14.5903 12.0302 14.6428 12.2639 14.681C12.2732 14.681 12.2779 14.681 12.2873 14.6858C12.334 14.6905 12.3808 14.7001 12.4275 14.7049C12.4415 14.7049 12.4556 14.7096 12.4696 14.7096C12.5117 14.7144 12.5537 14.7192 12.5958 14.7192C12.6145 14.7192 12.6285 14.724 12.6472 14.724C12.6893 14.7287 12.7314 14.7287 12.7734 14.7287H12.8202C12.8763 14.7287 12.9324 14.7335 12.9885 14.7335C13.0446 14.7335 13.1007 14.7335 13.1568 14.7287H13.2035C13.2456 14.7287 13.2876 14.724 13.3297 14.724C13.3484 14.724 13.3624 14.7192 13.3811 14.7192C13.4232 14.7144 13.4653 14.7096 13.5027 14.7096C13.5167 14.7096 13.5307 14.7049 13.5447 14.7049C13.5915 14.7001 13.6382 14.6953 13.685 14.6858C13.6943 14.6858 13.699 14.6858 13.7084 14.681C13.9421 14.6428 14.1711 14.5903 14.3955 14.5187C14.4189 14.5139 14.4376 14.5043 14.461 14.4996C15.5081 14.1463 16.415 13.4349 17.018 12.4466Z"
                                        fill="white"
                                    )
                                    path(
                                        d="M5.01481 20.7454C4.96905 20.9323 5.03145 21.1329 5.17289 21.2423C7.46091 23.0473 10.1691 24 13.0021 24C15.8309 24 18.5391 23.0473 20.8271 21.2423C20.9686 21.1329 21.031 20.9323 20.9852 20.7454C20.7855 19.9432 20.486 19.1728 20.0949 18.4572C18.9842 16.4379 16.7378 15.5262 14.6245 16.2419C14.1003 16.4197 13.5554 16.5108 13.0021 16.5108C12.4488 16.5108 11.9038 16.4197 11.3797 16.2419C10.8971 16.0778 10.4062 16.0003 9.92365 16.0003C8.29708 16.0003 6.76618 16.8983 5.90922 18.4572C5.50985 19.1728 5.21033 19.9432 5.01481 20.7454Z"
                                        fill="white"
                                    )

                        div.header__action-wrap
                            a.header__action._favorite(href="/favorites.html" title="Избранное")
                                +svgIcon('heart')

                            .header__action-content
                                .header-action-dropdown.header-action-dropdown_right
                                    .header-empty-action
                                        .h3.mb-3 В списке нет избранного товара
                                        img.d-block.mx-auto(src="/src/assets/empty-favorites.svg", alt="")
                                        .mt-3
                                            a.btn(href="/catalog.html" title="Перейти в каталог") Перейти в каталог

                                    .header-filled-action
                                        .header-filled-action__cont
                                            .header-filled-action__list
                                                - for (let i = 0; i < 4; i++)
                                                .header-filled-action__item(data-delete-item)
                                                    a.header-filled-action__item-img-wrap(href="#" title)
                                                        img.header-filled-action__item-img(src="/src/assets/upload/product-item.png", alt="")
                                                    .header-filled-action__item-cont
                                                        .header-filled-action__item-title
                                                            a(href="#" title) KLT-6210 N1 Lower - стоматологическая установка с нижней подачей

                                                        .header-filled-action__item-actions
                                                            button.header-filled-action__item-action._active(data-toggle-action data-delete-trigger)
                                                                <svg class="icon" width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M18.1804 17.18C16.1589 19.1097 14.0977 20.5144 13.5045 20.9049C12.9079 20.511 10.847 19.1068 8.82584 17.1785C7.67549 16.081 6.55125 14.8262 5.7174 13.5036C4.88148 12.1778 4.35938 10.8187 4.35938 9.50279C4.35938 7.05799 6.43034 5.03711 9.01604 5.03711C10.7005 5.03711 12.2557 5.92664 13.0714 7.31175L13.5027 8.04426L13.9333 7.31131C14.7489 5.92311 16.3001 5.03711 17.9847 5.03711C20.5744 5.03711 22.6451 7.05822 22.6451 9.50279C22.6451 10.8188 22.1232 12.1781 21.2876 13.5043C20.4541 14.8271 19.3303 16.0823 18.1804 17.18Z" stroke="currentColor"/>
                                                                </svg>

                                                        .header-filled-action__item-bottom
                                                            .header-filled-action__item-price 169 500 ₽
                                        .mt-3
                                            a.btn(href="/favorites.html" title="К списку избранного") К списку избранного

                        div.header__action-wrap
                            a.header__action._cart(href="/basket.html" title="Корзина")
                                +svgIcon('cart')

                            .header__action-content
                                .header-action-dropdown.header-action-dropdown_right
                                    .header-empty-action
                                        .h3.mb-3 Ваша корзина пуста
                                        img.d-block.mx-auto(src="/src/assets/empty-basket.svg", alt="")
                                        .mt-3
                                            a.btn(href="/catalog.html" title="Перейти в каталог") Перейти в каталог

                                    .header-filled-action
                                        .header-filled-action__cont
                                            .header-filled-action__list
                                                - for (let i = 0; i < 4; i++)
                                                .header-filled-action__item(data-delete-item)
                                                    a.header-filled-action__item-img-wrap(href="#" title)
                                                        img.header-filled-action__item-img(src="/src/assets/upload/product-item.png", alt="")
                                                    .header-filled-action__item-cont
                                                        .header-filled-action__item-title
                                                            a(href="#" title) KLT-6210 N1 Lower - стоматологическая установка с нижней подачей

                                                        .header-filled-action__item-actions
                                                            button.header-filled-action__item-action.header-filled-action__item-action_trash(data-delete-trigger)
                                                                +svgIcon('trash')

                                                        .header-filled-action__item-bottom
                                                            .header-filled-action__item-counter
                                                                .counter-spinner
                                                                    .counter-spinner__minus(data-buy-minus)
                                                                    input.counter-spinner__input(type="number" min="1" max="100" value="1" step="1" readonly  inputmode="numeric" pattern="\d*" data-buy-count)
                                                                    .counter-spinner__plus(data-buy-plus)

                                                            .header-filled-action__item-price 169 500 ₽

                                        .mt-3
                                            a.btn(href="/basket.html" title="В корзину") В корзину


                    .header__mobile-actions
                        button.mobile-menu-btn(title="Меню" data-menu-btn)
                            <svg class="icon" width="46" height="36" viewBox="0 0 46 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.5195 9.5L39.5195 9.5" stroke="#1C1C1E" stroke-width="2.90323" stroke-linecap="round"/>
                            <path d="M16.5195 26.5L39.5195 26.5" stroke="#1C1C1E" stroke-width="2.90323" stroke-linecap="round"/>
                            <path d="M6.51953 17.5H39.5195" stroke="#1C1C1E" stroke-width="2.90323" stroke-linecap="round"/>
                            </svg>

                        .mobile-menu(data-menu)
                            .mobile-menu__header
                                button.mobile-menu__back(data-hide-menu)
                                    +svgIcon('arrow-left')

                                include /components/header/header-location

                            .mobile-menu__content
                                nav.header-menu-mobile
                                    ul.header-menu-mobile__list
                                        each item in headerMenu
                                            li.header-menu-mobile__item(
                                                class={
                                                    '_active': item.active,
                                                    '_pin': item.pin,
                                                    '_dropdown': item.items
                                                }
                                            )
                                                a.header-menu-mobile__link(href=item.href title=item.name)= item.name

                                                if item.items
                                                    .header-menu-mobile__arrow(data-accordeon-toggle)
                                                        +svgIcon('arrow-down')

                                                if item.items
                                                    div(data-accordeon-content)
                                                        ul.header-menu-mobile__submenu
                                                            each subItem in item.items
                                                                li.header-menu-mobile__submenu-item(
                                                                    class={
                                                                        '_active': subItem.active
                                                                    }
                                                                )
                                                                    a.header-menu-mobile__submenu-link(href=subItem.href title=subItem.name)= subItem.name

                            .mobile-menu__footer
                                a.mobile-menu__footer-contacts(href="tel:+79050868992" title="+7 (905) 086-89-92") +7 (905) 086-89-92

        .header__bottom
            .container
                .header__bottom-inner
                    .header__menu
                        include /components/header/header-menu

                    //.header__location
                    //    include /components/header/header-location