extends /layouts/_template

block main
    .order
        .order__main
            .order__main-block.tabs
                h3 Получатель
                .order__type-switcher
                    button.btn.btn_bordered(href="#order-individual" data-tab="order-recipient") Физическое лицо
                    button.btn(href="#legal-entity" data-tab="order-recipient") Юридическое лицо

                .order__person-fields.tabs__content(id="order-individual") 
                    .row 
                        .col-12.col-sm-6.mb-3
                            +textphone('Телефон', '+7 000 000 00 00', true)
                        .col-12.col-sm-6.mb-3
                            +textmail('Email', 'example@mail.ru', false)
                        .col-12.col-sm-6.mb-3
                            +textfield('ФИО', 'Иванов Иван Иванович', true)

                .order__person-fields.tabs__content(id="legal-entity") 
                    .row 
                        .col-12.col-sm-6.mb-3
                            +textphone('Телефон', '+7 000 000 00 00', true)
                        .col-12.col-sm-6.mb-3
                            +textmail('Email', 'example@mail.ru', false)
                        .col-12.col-sm-6.mb-3
                            +textfield('ИНН', 'ИНН организации', true)
                        .col-12.col-sm-6.mb-3
                            +textfield('Ваша компания', 'Название вашей компании', true)
                        .col-12.col-sm-6.mb-3
                            +textfield('ФИО', 'Иванов Иван Иванович', true)

            .order__main-block
                h3 Способ получения

                .tabs
                    .order__type-switcher
                        button.btn.btn_bordered(href="#self" data-tab="product") Самовызов
                        button.btn(href="#delivery" data-tab="product") Доставка


                    #self.tabs__content
                        .order__delivery-map-block(data-fancybox data-src="#js-modal-delivery-self")
                            img.order__delivery-map(src="/src/assets/upload/map.png" alt="Карта")
                            button.order__delivery-map-choose-btn
                                +svgIcon('search')
                                span Выбрать магазин

                    #delivery.tabs__content
                        .header-search(data-fancybox data-src="#js-modal-delivery")
                            +textfield('Адрес доставки', '', true, 'w-100')

            .order__main-block
                table.order__goods-list
                    thead
                        tr
                            td(colspan="2")
                                h3 Товары в заказе
                            td Цена
                            td Количество
                            td Сумма
                    tbody
                    each item in orderGoods
                        tr.order__goods-item
                            td.order__goods-item-img
                                img(src=item.img, alt="")
                            td.order__goods-item-title
                                div.order-basket-title= item.title
                                .order__goods-item-setting
                                    span.order__goods-item-setting-name Цвет
                                    span.order__goods-item-setting-value Красный
                                .order__goods-item-setting
                                    span.order__goods-item-setting-name Размер
                                    span.order__goods-item-setting-value S

                            td.order__goods-item-color
                                span.color-box(style=`--color: ${item.color}`)
                            td.order__goods-item-price #{item.price}
                            td.order__goods-item-quantity #{item.quantity + ' шт'}
                            td.order__goods-item-total #{item.total}
                    
            .order__main-block
                h3 Способ оплаты
                .order__payment-type-list.tabs__content
                    label.order__payment-type-item
                        input.order__payment-type-item-radio(type="radio", name="payment-type", checked)
                        .order__payment-type-item-block
                            img(src="/src/assets/upload/split.png", alt="Сплит")
                    label.order__payment-type-item
                        input.order__payment-type-item-radio(type="radio", name="payment-type")
                        .order__payment-type-item-block
                            img(src="/src/assets/upload/by-check.png", alt="По счету")
                    label.order__payment-type-item
                        input.order__payment-type-item-radio(type="radio", name="payment-type")
                        .order__payment-type-item-block
                            img(src="/src/assets/upload/by-card.png", alt="Картой")
                    label.order__payment-type-item
                        input.order__payment-type-item-radio(type="radio", name="payment-type")
                        .order__payment-type-item-block
                            img(src="/src/assets/upload/dolyami.png", alt="Долями")
        .order-info
            h3.order-info__title Ваш заказ
            .order-info__data
                span 3 товара
                span
                span 370 000 ₽
            .order-info__data
                span Скидка
                span
                span 90 000 ₽
            .order-info__total.h4
                span Итого
                span 280 000 ₽
            button.order-info__btn1.btn Перейти к оплате
            label.checkbox
                input.checkbox__input(type="checkbox" checked=true)
                div.checkbox__box
                    +svgIcon('checkmark')
                span.checkbox__text #[span Я согласен] на обработку персональных данных